@using System.Web.Optimization

@{
    
    Layout = null;   
 }

<!DOCTYPE html>
<html>
    <head>
        <title>Client Management</title>      
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/bootstrap-datepicker.js"></script>
        <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

    </head>
    <body>
        <div class="container"> 
           <ul class="nav nav-pills">
               
               <li>
                   @Html.ActionLink("Client", "Index", "Client")
               </li>
               <li>
                   @Html.ActionLink("Add Client", "AddClient", "Client")
               </li>               
           </ul> 
        </div>               
                
        @RenderBody()
               
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
